/* Navigation styles */
.navbar-nav{
  margin-left: auto;
  margin-right: 0 !important;
}
.bg-light {
  background-color: white !important;
}

/* Jumbotron styles */
.jumbotron {
background-color: #BFD7D9;
height: 710px;
}
.col-sm-7 {
  padding-left: 70px;
  padding-right: 70px;
   }
   .col-sm-5 img {
    height: 300px;
    align-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
   }

/* Card styles */
.cardContainer {
  margin-bottom: 15px;
}
.card {
  margin: 0 auto;
}

/* About Me styles */
.container {
margin: 32px
} 
.col-sm-8 {
padding: 40px;
 }
 .col-sm-4 img {
  height: 400px;
 }

/* Contact Me styles */
.signUp form {
  margin: 35px auto;
  background-color: #BFD7D9;
  padding: 25px;
  border-radius: 7px;
}
.row h2 {
  font-size: 28px;
}

/* Footer styles */
footer {
  position: absolute;
  width: 100%;
  height: 180px;
  line-height: 50px;
  background-color: #BFD7D9;
  cursor: pointer;
}
.containerF {
  justify-content: space-evenly;
  align-content: flex-start;
  width: 100%;
  margin-top: 50px;
}
.footer img{
height: 23px;
}
.footer a{
margin: 1px;
padding-left: 35px;
} 
